.scheduler-reset {
  display: grid;
  align-content: center;
  justify-content: center;

  width: fit-content;
  margin: auto;
  margin-top: 4rem;
  padding: 5rem 8rem;

  background-color: var(--color-darkblue);

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    align-self: flex-start;

    color: var(--color-yellow);
  }

  &__form {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    align-content: center;
    gap: 1rem;

    &--auth {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;

      @media only screen and (max-width: 34em) {
        //550W
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    h4 {
      border-right: solid var(--color-white) 0.15rem;
      padding-right: 0.5rem;
      margin-right: 0.5rem;

      color: var(--color-white);
      text-align: right;
      white-space: nowrap;

      @media only screen and (max-width: 34em) {
        //550W
        grid-column: 1 / 2;
        grid-row: auto;

        white-space: normal;
      }
    }

    input {
      margin-left: 0.1rem;
      padding: 0.4rem 0.8rem;

      background-color: var(--color-white);

      color: var(--color-darkblue);
      font-size: var(--font-xsmall);

      @media only screen and (max-width: 34em) {
        //550W
        grid-column: 2 / 3;
        grid-row: auto;
      }
    }

    &--submit {
      grid-row: 3 / 4;
      justify-self: flex-end;

      @media only screen and (max-width: 34em) {
        //550W
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        justify-self: flex-end;
      }
    }
  }
}
