a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

button,
select {
  border: none;
  background: none;
  cursor: pointer;

  color: var(--color-white);
  font-family: var(--font-primary);
  text-transform: lowercase;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-logo);
  letter-spacing: 0.24rem;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-big);
}

h2 {
  font-size: var(--font-medium);
  font-weight: 300;
}

h3 {
  font-size: var(--font-small);
  font-weight: 300;
}

h4 {
  font-size: var(--font-xsmall);
  font-weight: 300;
  text-transform: lowercase;
}

.btn-header {
  margin-left: 0.1rem;
  padding: 0.5rem 1rem;

  background-color: var(--color-darkblue);

  color: var(--color-gray);
  font-size: var(--font-small);

  &:hover {
    background-color: var(--color-blue);

    color: var(--color-white);
  }
}

.btn-auth {
  padding: 0.5rem 1rem;

  background-color: var(--color-yellow);

  color: var(--color-dark);
  font-size: var(--font-small);
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-green);

    color: var(--color-white);
  }
}

.btn-menu {
  margin-left: 0.1rem;
  padding: 0.4rem 0.8rem;

  background-color: var(--color-dark);

  color: var(--color-gray);
  font-size: var(--font-xsmall);

  @media only screen and (max-width: 34em) {
    //550W
    font-size: var(--font-small);
  }

  &:hover {
    background-color: var(--color-gray);

    color: var(--color-white);
  }
}

.btn-form {
  padding: 0.4rem 0.8rem;

  background-color: var(--color-black);
  border-right: solid var(--color-green) 0.5rem;

  color: var(--color-darkgray);
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-green);

    color: var(--color-white);
  }
}

.btn-clear {
  padding: 0.4rem 0.8rem;

  background-color: var(--color-black);
  border-right: solid var(--color-red) 0.5rem;

  color: var(--color-darkgray);
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-red);

    color: var(--color-white);
  }
}

.btn-nav {
  margin-left: 0.1rem;
  padding: 0.4rem 0.8rem;

  border: solid var(--color-dark) 0.2rem;

  font-size: var(--font-xsmall);
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-dark);

    color: var(--color-yellow);
  }
}

.btn-green {
  border-right: solid var(--color-green) 0.2rem !important;
  margin-right: 0.1rem;

  &:hover {
    background-color: var(--color-green);
  }
}

.btn-red {
  border-right: solid var(--color-red) 0.2rem !important;
  margin-right: 0.1rem;

  &:hover {
    background-color: var(--color-red);
  }
}

.btn-select {
  width: 2rem;

  background-color: var(--color-green);

  color: var(--color-white);
}

.btn-delete {
  width: 2rem;

  background-color: var(--color-red);

  color: var(--color-white);
}

.a-minor {
  padding: 0.1rem 0.4rem;

  background-color: var(--color-lightblue);

  color: var(--color-gray);
  font-size: var(--font-xsmall);
  text-transform: lowercase;

  &:hover {
    background-color: var(--color-gray);

    color: var(--color-lightblue);
  }
}

h4,
span,
select {
  @media only screen and (max-width: 34em) {
    //550W
    font-size: var(--font-small);
  }
}

input {
  @media only screen and (max-width: 34em) {
    //550W
    font-size: var(--font-small) !important;
  }
}
