.loading {
  color: var(--color-black) !important;
  text-align: center;
}

.scroll-container-medium {
  height: 35vh;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.scroll-container-small {
  height: 25vh;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}