.loading {
  background-color: var(--color-gray);

  text-align: center;
}

.scroll-container-medium {
  height: 50vh;
  margin-right: -1.6rem;

  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-container-small {
  height: 25vh;
  margin-right: -1.6rem;

  overflow-x: hidden;
  overflow-y: auto;
}

.approved {
  background-color: var(--color-green) !important;

  color: white;
}

.denied {
  background-color: var(--color-red) !important;

  color: white;
}
