<div class="roster">

  <h1 class="roster__title">Roster</h1>

  <div class="roster__employees">

    <h2 class="roster__employees--heading">Employees</h2>

    <div class="roster__employees--keys">
      <span>Name</span>
      <span>Position</span>
      <span>Status</span>
      <span>Seniority</span>
      <span>Hire date</span>
      <span>Pref shift slots</span>
      <span>Pref days off</span>
    </div>

    <div
      *ngFor="let employee of (employees$ | async)"
      class="roster__employees--values"
    >
      <div class="roster__employees--values-name">
        <div
          [ngStyle]="getEmployeeLoggedInStyle(employee.id, 'item')"
          class="text"
        >{{ employee?.lastName }}, {{ employee?.firstName }}</div>
        <div
          [ngStyle]="getEmployeeLoggedInStyle(employee.id, 'guide')"
          class="guide"
        ></div>
      </div>
      <span class="roster__employees--values-item">{{ employee?.position }}</span>
      <span class="roster__employees--values-item">{{ employee?.status }}</span>
      <span class="roster__employees--values-item">{{ employee?.seniority }}</span>
      <span class="roster__employees--values-item">{{ employee?.hireDate | date:'shortDate' }}</span>
      <div class="roster__employees--values-item">
        <span *ngFor="let preferred of employee?.preferredShiftSlots">{{ preferred }} </span>
      </div>
      <div class="roster__employees--values-item">
        <span *ngFor="let dayOff of employee?.preferredDaysOff">{{ days[dayOff] }} </span>
      </div>
    </div>

  </div>

  <div class="roster__schedulers">

    <h2 class="roster__schedulers--heading">Schedulers</h2>

    <div class="roster__schedulers--keys">
      <span>Name</span>
    </div>

    <div
      *ngFor="let scheduler of (schedulers$ | async)"
      class="roster__schedulers--values"
    >
      <span>{{ scheduler?.lastName }}, {{ scheduler?.firstName }}</span>
    </div>

  </div>

</div>
