//COLORS
// #020309
// #080D1C
// #0E193A
// #103262
// #034B93
// #0370C1
// #0493E8
// #3DB4F4
// #5E7793
// #AABDCE
// #F5A623
// #F6B03B
// #11AC4A
// #C70F30

:root {
  //COLORS----------------------------------------------------------

  //PRIMARY
  --color-blue: #034b93;
  --color-darkblue: #103262;
  --color-lightblue: #0370c1;

  //SECONDARY
  --color-dark: #0e193a;
  --color-black: #080d1c;
  --color-darkgray: #5e7793;
  --color-gray: #aabdce;
  --color-white: white;

  //TERTIARY
  --color-yellow: #f6b03b;
  --color-green: #11ac4a;
  --color-red: #c70f30;

  //FONT----------------------------------------------------------

  //STYLES
  --font-primary: "Playfair", sans-serif;
  --font-logo: "Muli", sans-serif;

  //SIZES
  --font-big: 3rem;
  --font-medium: 2rem;
  --font-small: 1.56rem;
  --font-xsmall: 1.235rem;
}
