<div class="footer">

  <div class="footer__carapace">
    <a
      target="_blank"
      href="https://cara-pace.firebaseapp.com/"
    >
      <img
        src="assets/carapace.svg"
        alt="Carapace logo"
      >
    </a>
  </div>

  <div class="footer__copyright">Crafted with ♥ by Cara Lagumen
    <a
      target="_blank"
      href="https://twitter.com/CaraLagumen"
    >
      <img
        src="assets/twitter.svg"
        alt="Twitter logo"
      >
    </a></div>

</div>
