.header {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  align-items: center;
  justify-items: end;
  gap: 4rem;

  padding: 1rem 5rem;

  background-color: var(--color-dark);

  color: var(--color-white);

  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: start;

    &--text {
      border-right: solid var(--color-white) 0.2rem;
      padding-right: 2rem;

      cursor: pointer;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__editor {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    &--heading {
      line-height: 1.8rem;
      text-align: end;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__stats {
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    &--heading {
      line-height: 1.8rem;
      text-align: end;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__notauth {
    grid-column: 5 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    gap: 4rem;

    &--btns {
      &-heading {
        line-height: 1.8rem;
        text-align: end;
      }
    }
  }

  &__auth {
    grid-column: 5 / -1;
    grid-row: 1 / 2;

    &--heading {
      line-height: 1.8rem;
      text-align: end;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;
    }
  }
}
