<div class="header">

  <!--LOGO------------------------------------------------------------>

  <div class="header__logo">

    <h1
      routerLink="/"
      class="header__logo--text"
    >Unruly</h1>

  </div>

  <!--EDITOR------------------------------------------------------------>

  <div
    *ngIf="schedulerIsAuth"
    class="header__editor"
  >

    <h2 class="header__editor--heading">Editor</h2>

    <div class="header__editor--btns">

      <button
        routerLink="/editor/shifts"
        class="header__editor--btns-item btn-header"
      >Shifts</button>
      <button
        routerLink="/editor/scheduled"
        class="header__editor--btns-item btn-header"
      >Scheduled</button>
      <button
        routerLink="/editor/vacations"
        class="header__editor--btns-item btn-header"
      >Vacations</button>

    </div>

  </div>

  <!--STATS------------------------------------------------------------>

  <div
    *ngIf="employeeIsAuth || schedulerIsAuth"
    class="header__stats"
  >

    <h2 class="header__stats--heading">Statistics</h2>

    <div class="header__stats--btns">
      <button
        routerLink="/stats/roster"
        class="header__stats--btns-item btn-header"
      >Roster</button>
      <button
        routerLink="/stats/shifts"
        class="header__stats--btns-item btn-header"
      >Shifts</button>
      <button
        [routerLink]="['/stats/schedule/', today.toISOString()]"
        class="header__stats--btns-item btn-header"
      >Schedule</button>
    </div>

  </div>

  <!--!AUTH------------------------------------------------------------>

  <div
    *ngIf="!employeeIsAuth && !schedulerIsAuth"
    class="header__notauth"
  >

    <div class="header__notauth--btns">

      <h2 class="header__notauth--btns-heading">Employee</h2>

      <button
        routerLink="/auth/employee/login"
        class="header__notauth--btns-item btn-header"
      >Login</button>
      <button
        routerLink="/auth/employee/register"
        class="header__notauth--btns-item btn-header"
      >Register</button>

    </div>

    <div class="header__notauth--btns">

      <h2 class="header__notauth--btns-heading">Scheduler</h2>

      <button
        routerLink="/auth/scheduler/login"
        class="header__notauth--btns-item btn-header"
      >Login</button>
      <button
        routerLink="/auth/scheduler/register"
        class="header__notauth--btns-item btn-header"
      >Register</button>

    </div>

  </div>

  <!--AUTH-EMPLOYEE------------------------------------------------------------>

  <div
    *ngIf="employeeIsAuth"
    class="header__auth"
  >

    <h2 class="header__auth--heading">Employee</h2>

    <div class="header__auth--btns">

      <button
        routerLink="/employee/profile"
        class="header__auth--btns-item btn-header"
      >Profile</button>
      <button
        (click)="onLogout()"
        class="header__auth--btns-item btn-header"
      >Logout</button>

    </div>

  </div>

  <!--AUTH-SCHEDULER------------------------------------------------------------>

  <div
    *ngIf="schedulerIsAuth"
    class="header__auth"
  >

    <h2 class="header__auth--heading">Scheduler</h2>

    <div class="header__auth--btns">

      <button
        routerLink="/scheduler/profile"
        class="header__auth--btns-item btn-header"
      >Profile</button>
      <button
        (click)="onLogout()"
        class="header__auth--btns-item btn-header"
      >Logout</button>

    </div>

  </div>

</div>
