.header {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  align-items: center;
  justify-items: end;
  gap: 4rem;

  padding: 1rem 5rem;

  background-color: var(--color-dark);

  color: var(--color-white);

  @media only screen and (max-width: 86em) {
    //1366W
    gap: 1rem;

    padding: 1rem;
  }

  @media only screen and (max-width: 26em) {
    //425W
    grid-template-columns: repeat(4, auto);

    h2 {
      font-size: var(--font-small);
    }
  }

  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: start;

    @media only screen and (max-width: 47em) {
      //750W
      grid-row: 1 / 3;
      align-self: center;
    }

    &--text {
      border-right: solid var(--color-white) 0.2rem;
      padding-right: 2rem;

      cursor: pointer;

      @media only screen and (max-width: 34em) {
        //550W
        font-size: 2.2rem;
      }

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__editor {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    @media only screen and (max-width: 47em) {
      //750W
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @media only screen and (max-width: 26em) {
      //425W
      grid-column: 2 / 3;
      grid-row: 1 / -1;

      transform: translateY(0.5rem);

      width: 10rem;
    }

    &--heading {
      line-height: 1.8rem;
      text-align: end;
      white-space: nowrap;

      overflow-x: auto;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: 26em) {
        //425W
        flex-direction: column;
      }
    }
  }

  &__stats {
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    @media only screen and (max-width: 47em) {
      //750W
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    @media only screen and (max-width: 26em) {
      //425W
      grid-column: 3 / 4;
      grid-row: 1 / -1;

      transform: translateY(0.5rem);

      width: 10rem;
    }

    &--heading {
      line-height: 1.8rem;
      text-align: end;
      white-space: nowrap;

      overflow-x: auto;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: 26em) {
        //425W
        flex-direction: column;
      }
    }
  }

  &__notauth {
    grid-column: 5 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    gap: 4rem;

    @media only screen and (max-width: 47em) {
      //750W
      transform: translateY(0.5rem);
    }

    &--btns {
      &-heading {
        line-height: 1.8rem;
        text-align: end;
      }
    }
  }

  &__auth {
    grid-column: 5 / -1;
    grid-row: 1 / 2;

    @media only screen and (max-width: 47em) {
      //750W
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    @media only screen and (max-width: 26em) {
      //425W
      grid-column: 4 / 5;
      grid-row: 1 / -1;

      transform: translateY(0.5rem);

      width: 10rem;
    }

    &--heading {
      line-height: 1.8rem;
      text-align: end;
      white-space: nowrap;

      overflow-x: auto;
    }

    &--btns {
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: 26em) {
        //425W
        flex-direction: column;
      }
    }
  }
}
