.editor-shifts-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: flex-start;
  column-gap: 2rem;

  &__weekly {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    align-items: center;

    background-color: var(--color-gray);

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      padding-right: 2rem;
      border-bottom: solid var(--color-white) 0.2rem;
      margin-bottom: 1rem;

      background-color: var(--color-darkblue);
      text-align: right;
    }

    &--keys {
      display: grid;
      grid-template-columns: 1fr 1fr repeat(3, 2fr) repeat(6, 1fr);
      align-items: center;
      gap: 0.6rem;

      padding: 0.2rem 0.6rem;

      span {
        width: 100%;
        margin-bottom: 0.8rem;

        background-color: var(--color-dark);

        color: var(--color-gray);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &--values {
      display: grid;
      grid-template-columns: 1fr 1fr repeat(3, 2fr) repeat(6, 1fr);
      align-items: center;
      justify-items: center;
      gap: 0.6rem;

      padding: 0.2rem 0.6rem;

      &-name {
        background-color: var(--color-lightblue);

        color: var(--color-white) !important;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
      }

      span {
        width: 100%;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;

        border-bottom: solid var(--color-lightblue) 0.1rem;

        color: var(--color-dark);
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &__individual {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    align-items: center;

    background-color: var(--color-gray);

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      padding-right: 2rem;
      border-bottom: solid var(--color-white) 0.2rem;
      margin-bottom: 1rem;

      background-color: var(--color-darkblue);
      text-align: right;
    }

    &--keys {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
      align-items: center;
      gap: 0.6rem;

      padding: 0.2rem 0.6rem;

      span {
        width: 100%;
        margin-bottom: 0.8rem;

        background-color: var(--color-dark);

        color: var(--color-gray);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &--values {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      gap: 0.6rem;

      padding: 0.2rem 0.6rem;

      span {
        width: 100%;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;

        border-bottom: solid var(--color-lightblue) 0.1rem;

        color: var(--color-dark);
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

.shift-day-1 {
  background-color: var(--color-darkgray) !important;

  span {
    border: none;

    color: var(--color-white) !important;
  }
}

.shift-day-2 {
  background-color: var(--color-lightblue) !important;

  span {
    border: none;

    color: var(--color-white) !important;
  }
}

.shift-day-3 {
  background-color: var(--color-blue) !important;

  span {
    border: none;

    color: var(--color-white) !important;
  }
}

.shift-day-4 {
  background-color: var(--color-darkblue) !important;

  span {
    border: none;

    color: var(--color-white) !important;
  }
}

.shift-day-5 {
  background-color: var(--color-dark) !important;

  span {
    border: none;

    color: var(--color-white) !important;
  }
}
