<div class="editor-shifts-item">

  <div class="editor-shifts-item__weekly">

    <h2 class="editor-shifts-item__weekly--heading">Weekly shifts</h2>

    <div class="editor-shifts-item__weekly--keys">
      <span>Select</span>
      <span>Delete</span>
      <span>Name</span>
      <span>Position</span>
      <span>Slot</span>
      <span>Location</span>
      <span>Day1</span>
      <span>Day2</span>
      <span>Day3</span>
      <span>Day4</span>
      <span>Day5</span>
    </div>

    <div class="scroll-container-medium">
      <div
        *ngFor="let weeklyShift of (weeklyShifts$ | async)"
        class="editor-shifts-item__weekly--values"
      >
        <button
          (click)="onSelectWeeklyShift(weeklyShift)"
          class="btn-select"
        >✔</button>
        <button
          (click)="onDeleteWeeklyShift(weeklyShift)"
          class="btn-delete"
        >✘</button>
        <span class="editor-shifts-item__weekly--values-name">{{ weeklyShift?.name }}</span>
        <span>{{ weeklyShift?.position }}</span>
        <span>{{ weeklyShift?.slot }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.location) }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.shiftDay1.location) }}{{ getFormattedHour(weeklyShift?.shiftDay1.shiftStart[0]) }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.shiftDay2.location) }}{{ getFormattedHour(weeklyShift?.shiftDay2.shiftStart[0]) }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.shiftDay3.location) }}{{ getFormattedHour(weeklyShift?.shiftDay3.shiftStart[0]) }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.shiftDay4.location) }}{{ getFormattedHour(weeklyShift?.shiftDay4.shiftStart[0]) }}</span>
        <span>{{ getFormattedLocation(weeklyShift?.shiftDay5.location) }}{{ getFormattedHour(weeklyShift?.shiftDay5.shiftStart[0]) }}</span>
      </div>
    </div>

  </div>

  <div class="editor-shifts-item__individual">

    <h2 class="editor-shifts-item__individual--heading">Shifts</h2>

    <div class="editor-shifts-item__individual--keys">
      <span>Select</span>
      <span>Delete</span>
      <span>Slot</span>
      <span>Location</span>
      <span>Day</span>
      <span>Start</span>
      <span>End</span>
    </div>

    <div class="scroll-container-medium">
      <div
        *ngFor="let shift of (shifts$ | async)"
        [ngClass]="getShiftDayClass(shift.id)"
        class="editor-shifts-item__individual--values"
      >
        <button
          (click)="onSelectShift(shift)"
          class="btn-select"
        >✔</button>
        <button
          (click)="onDeleteShift(shift)"
          class="btn-delete"
        >✘</button>
        <span>{{ shift?.slot }}</span>
        <span>{{ getFormattedLocation(shift?.location) }}</span>
        <span>{{ daysInWords[shift?.day] }}</span>
        <span>{{ getFormattedHour(shift?.shiftStart[0]) }}</span>
        <span>{{ getFormattedHour(shift?.shiftEnd[0]) }}</span>
      </div>
    </div>

  </div>

</div>
