<div class="scheduler-login">

  <h1 class="scheduler-login__title">Scheduler</h1>

  <form
    (submit)="onLogin(loginForm)"
    #loginForm="ngForm"
    *ngIf="!isLoaded"
    class="scheduler-login__form"
  >

    <h4 class="scheduler-login__form--heading">Email</h4>
    <input
      type="email"
      required
      ngModel
      name="email"
      #emailInput="ngModel"
      class="scheduler-login__form--input"
    >

    <h4 class="scheduler-login__form--heading">Password</h4>
    <input
      type="password"
      required
      minlength="8"
      ngModel
      name="password"
      #passwordInput="ngModel"
      class="scheduler-login__form--input"
    >

    <a
      routerLink="/auth/scheduler/forgot"
      class="scheduler-login__form--forgot a-minor"
    >Forgot password</a>

    <button
      [disabled]="!loginForm.valid"
      class="scheduler-login__form--submit btn-auth"
    >Login</button>

  </form>

  <h3
    *ngIf="isLoaded"
    class="scheduler-login__loading"
  >Logging you in...</h3>

</div>
