.editor-shifts {
  display: grid;
  gap: 2rem;

  padding: 0.5rem 2rem;

  background-color: var(--color-darkgray);

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;

    height: 4rem;
    padding-left: 1rem;

    background-color: var(--color-black);

    color: var(--color-gray);
  }

  &__weekly {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      padding-right: 2rem;
      border-bottom: solid white 0.2rem;

      background-color: var(--color-dark);
      text-align: right;
    }

    &--form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      align-items: center;
      gap: 1rem;

      padding: 1.5rem 3rem;

      background-color: var(--color-gray);

      &-row1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        display: grid;
        grid-template-columns: repeat(8, auto);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      &-row2 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(6, auto);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      &-row3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;

        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      h4 {
        border-right: solid var(--color-dark) 0.18rem;
        padding-right: 0.5rem;
        margin-right: -0.5rem;

        color: var(--color-dark);
        font-weight: 700;
        text-align: right;
      }

      input,
      select {
        color: var(--color-darkblue);
        font-size: var(--font-xsmall);

        background-color: white;

        padding: 0.4rem 0.8rem;
      }

      button {
        grid-row: 4 / 5;
      }
    }
  }

  &__individual {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    display: grid;

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      padding-right: 2rem;
      border-bottom: solid white 0.2rem;

      background-color: var(--color-dark);
      text-align: right;
    }

    &--form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      align-items: center;
      gap: 1rem;

      padding: 1.5rem 3rem;

      background-color: var(--color-gray);

      &-row1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        display: grid;
        grid-template-columns: repeat(6, auto);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      &-row2 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      h4 {
        border-right: solid var(--color-dark) 0.18rem;
        padding-right: 0.5rem;
        margin-right: -0.5rem;

        color: var(--color-dark);
        font-weight: 700;
        text-align: right;
      }

      input,
      select {
        color: var(--color-darkblue);
        font-size: var(--font-xsmall);

        background-color: white;

        padding: 0.4rem 0.8rem;
      }

      button {
        grid-row: 3 / 4;
      }
    }
  }
}

#shift-day-1 {
  background-color: var(--color-darkgray);

  color: white;
}

#shift-day-2 {
  background-color: var(--color-lightblue);

  color: white;
}

#shift-day-3 {
  background-color: var(--color-blue);

  color: white;
}

#shift-day-4 {
  background-color: var(--color-darkblue);

  color: white;
}

#shift-day-5 {
  background-color: var(--color-dark);

  color: white;
}
