<div class="employee-reset">

  <h1 class="employee-reset__title">Reset password</h1>

  <form
    (submit)="onReset(resetForm)"
    #resetForm="ngForm"
    class="employee-reset__form"
  >

    <div class="employee-reset__form--auth">
      <h4>New password</h4>
      <input
        type="password"
        password
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
        [ngClass]="{ 'valid': passwordInput.valid && passwordInput.dirty,
        'invalid': passwordInput.invalid && passwordInput.dirty }"
      >

      <h4>New password confirm</h4>
      <input
        type="password"
        password
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
        [ngClass]="{ 'valid': passwordConfirmInput.valid && passwordConfirmInput.dirty,
        'invalid': passwordConfirmInput.invalid && passwordConfirmInput.dirty }"
      >
    </div>

    <button
      [disabled]="!resetForm.valid"
      class="employee-reset__form--submit btn-auth"
    >Reset password</button>

  </form>

</div>
