<div class="calendar">
  <div class="calendar__nav">

    <button (click)="onCurrentWeek()">Current week</button>

    <button
      (click)="onPreviousWeek()"
      class="calendar__nav--btn"
    >◄</button>

    <h3 class="calendar__nav--week">
      {{ date?.format('MMMM') }} {{ date?.format('YYYY') }}
    </h3>

    <button
      (click)="onNextWeek()"
      class="calendar__nav--btn"
    >►</button>

  </div>

  <div class="calendar__main">

    <div class="calendar__main--employees">

      <h4 class="calendar__main--employees-heading">
        Employee names
      </h4>

      <div
        *ngFor="let employee of allEmployees"
        class="calendar__main--employees-names"
      >
        {{ employee?.lastName }}, {{ employee?.firstName }}
      </div>

    </div>

    <div
      *ngFor="let day of daysArr"
      [ngClass]="{ 'today': isToday(day) }"
      class="calendar__main--days"
    >

      <h4 class="calendar__main--days-heading">{{ day?.format('ddd').toUpperCase() }}</h4>

      <div class="calendar__main--days-info">

        <h4 [routerLink]="['/day', day.toISOString()]">{{ day?.date() }}</h4>

        <app-schedule-item
          *ngIf="isLoaded"
          [allEmployees]="allEmployees"
          [allScheduled]="allScheduled"
          [day]="day"
        ></app-schedule-item>

      </div>

    </div>

  </div>
</div>
