<div class="schedule">

  <div class="schedule__nav">

    <h1 class="schedule__nav--title">
      Schedule
    </h1>

    <button
      (click)="onPreviousWeek()"
      class="schedule__nav--btn"
    >◄</button>

    <h2
      [routerLink]="['/calendar', date.toISOString()]"
      class="schedule__nav--month"
    >
      {{ date?.format('MMMM') }} {{ date?.format('YYYY') }}
    </h2>

    <button
      (click)="onNextWeek()"
      class="schedule__nav--btn"
    >►</button>

    <button
      (click)="onCurrentWeek()"
      class="schedule__nav--btn btn-nav"
    >Current week</button>

  </div>

  <div class="schedule__main">

    <div class="schedule__main--employees">

      <h4 class="schedule__main--employees-heading">
        Employee names
      </h4>

      <div
        *ngFor="let employee of allEmployees"
        [ngStyle]="getEmployeeLoggedInStyle(employee.id, 'item')"
        class="schedule__main--employees-item"
      >

        <div class="schedule__main--employees-item-name">
          <span>{{ employee?.lastName }}, {{ employee?.firstName }}</span>
          <span>{{ employee?.position }}</span>
        </div>
        <div class="schedule__main--employees-item-details">
          <span>{{ employee?.status }}</span>
          <span>Seniority: {{ employee?.seniority }}</span>
          <span>Hire date: {{ employee?.hireDate | date:'shortDate' }}</span>
        </div>

        <div
          [ngStyle]="getEmployeeLoggedInStyle(employee.id, 'guide')"
          class="guide"
        ></div>

      </div>

    </div>

    <div
      *ngFor="let day of daysArr"
      class="schedule__main--days"
    >

      <h4 class="schedule__main--days-heading">{{ day?.format('ddd').toUpperCase() }}</h4>

      <div
        [ngClass]="{ 'today': isToday(day) }"
        class="schedule__main--days-info"
      >

        <h3 [routerLink]="['/day', day.toISOString()]">{{ day?.date() }}</h3>

        <app-schedule-item
          *ngIf="isLoaded"
          [allEmployees]="allEmployees"
          [allScheduled]="allScheduled"
          [day]="day"
        ></app-schedule-item>

        <h2
          *ngIf="!isLoaded"
          class="loading"
        >
          ...
        </h2>

      </div>

    </div>

  </div>

</div>
