<div
  [ngStyle]="getRowStyle()"
  class="schedule-item"
>

  <div
    *ngFor="let scheduled of scheduledOfTheDay"
    [ngStyle]="getScheduledStyle(scheduled?.employee.id)"
    class="schedule-item__main"
  >

    <div
      *ngIf="isLoaded"
      class="schedule-item__main--details"
    >
      <span class="schedule-item__main--details-1">
        {{ scheduled?.shift.location.toUpperCase() }}
        {{ getFormattedHour(scheduled?.shift.shiftStart[0]) }}-{{ getFormattedHour(scheduled?.shift.shiftEnd[0]) }}
      </span>

      <span class="schedule-item__main--details-2">
        {{ scheduled?.shift.slot }}
        {{ scheduled?.shift.position }}
      </span>

      <span class="schedule-item__main--details-mobile">{{ getFormattedLocation(scheduled?.shift.location) }}
        {{ getFormattedHour(scheduled?.shift.shiftStart[0]) }}</span>
    </div>

  </div>

  <div
    *ngIf="scheduledOfTheDay.length === 0"
    class="schedule-item__empty"
  >
  </div>

</div>
