<!--SCHEDULER DASHBOARD------------------------------------------------------------>
<!--SCHEDULER DASHBOARD------------------------------------------------------------>

<div
  *ngIf="schedulerIsAuth"
  class="dashboard"
>

  <!--AUTO POPULATE MENU------------------------------------------------------------>

  <div class="dashboard__populate">
    <h3 class="dashboard__populate--heading">Auto populate</h3>

    <div class="dashboard__populate--btns">
      <button
        (click)="onSchedulerEmitter('populateAllToScheduled')"
        class="dashboard__populate--btns-item btn-menu btn-green"
      >Populate full-time</button>
      <button
        (click)="onSchedulerEmitter('populateSteadyExtra')"
        class="dashboard__populate--btns-item btn-menu btn-green"
      >Populate steady extra</button>
      <button
        (click)="onSchedulerEmitter('deleteLastScheduled')"
        class="dashboard__populate--btns-item btn-menu btn-red"
      >Delete last scheduled</button>
    </div>

    <h3 id="scheduled">&nbsp; ■ scheduled</h3>

  </div>

  <!--PLACEHOLDER------------------------------------------------------------>

  <div
    *ngIf="!schedulerOptionsMenu && !employeeOptionsMenu"
    class="placeholder"
  >
    Click on a shift box for more options<br>
    Click a date number for more detail on the day<br>
    Click w for more detail on the week<br>
  </div>

  <!--SCHEDULER OPTIONS MENU------------------------------------------------------------>

  <div
    *ngIf="schedulerOptionsMenu"
    class="dashboard__options"
  >

    <div class="dashboard__options--details">

      <div class="dashboard__options--details-shift">
        <h4 class="dashboard__options--details-shift-heading">Shift</h4>

        <div class="dashboard__options--details-shift-values">
          <span>{{ calendarItemDay | date:'shortDate' }}</span>
          <span>{{ daysInWords[calendarItem[0]?.day] }}</span>
          <span>{{ calendarItem[0]?.slot }}</span>
          <span>{{ getFormattedHour(calendarItem[0]?.shiftStart[0]) }}</span>
          <span>{{ getFormattedHour(calendarItem[0]?.shiftEnd[0]) }}</span>
          <span>{{ calendarItem[0]?.location }}</span>
        </div>

      </div>

      <div class="dashboard__options--details-scheduled">
        <h4 class="dashboard__options--details-scheduled-heading">Scheduled</h4>

        <div
          *ngIf="calendarItem[1]"
          class="dashboard__options--details-scheduled-values"
        >
          <span>{{ calendarItem[1]?.employee.lastName }}, {{ calendarItem[1]?.employee.firstName }}</span>
          <span>{{ calendarItem[1]?.employee.position }}</span>
          <span>{{ calendarItem[1]?.employee.status }}</span>
          <span>Seniority: {{ calendarItem[1]?.employee.seniority }}</span>
          <span>Hire date: {{ calendarItem[1]?.employee.hireDate | date:'shortDate' }}</span>
        </div>

        <div
          *ngIf="!calendarItem[1]"
          class="dashboard__options--details-scheduled-values"
        >
          <span>Not filled</span>
        </div>

      </div>

    </div>

    <div class="dashboard__options--btns">
      <button
        (click)="onToggleUpdateShiftForm('open')"
        [ngClass]="{ 'active': updateShiftFormToggle }"
        class="dashboard__options--btns-item btn-menu btn-green"
      >Update shift</button>
      <button
        (click)="onSchedulerEmitter('deleteShift')"
        class="dashboard__options--btns-item btn-menu btn-red"
      >Delete shift</button>

      <button
        (click)="onToggleCreateScheduledForm('open')"
        [ngClass]="{ 'active': createScheduledFormToggle }"
        class="dashboard__options--btns-item btn-menu btn-green"
      >Create scheduled</button>
      <button
        *ngIf="calendarItem[1]"
        (click)="onSchedulerEmitter('deleteScheduled')"
        class="dashboard__options--btns-item btn-menu btn-red"
      >Delete scheduled</button>

      <button
        (click)="onToggleSchedulerOptionsMenu('close')"
        class="dashboard__options--btns-item btn-menu"
      >×</button>
    </div>

  </div>

  <!--UPDATE SHIFT FORM------------------------------------------------------------>

  <div
    *ngIf="updateShiftFormToggle"
    class="dashboard__update"
  >

    <form
      (submit)="onUpdateShift()"
      [formGroup]="updateShiftForm"
      class="dashboard__update--form"
    >

      <div class="dashboard__update--form-item">
        <span>Position</span>
        <select formControlName="positionControl">
          <option
            *ngFor="let position of positions"
            [ngValue]="position"
          >{{ position }}</option>
        </select>
      </div>

      <div class="dashboard__update--form-item">
        <span>Slot</span>
        <select formControlName="slotControl">
          <option
            *ngFor="let slot of slots"
            [ngValue]="slot"
          >{{ slot }}</option>
        </select>
      </div>

      <div class="dashboard__update--form-item">
        <span>Location</span>
        <select formControlName="locationControl">
          <option
            *ngFor="let location of locations"
            [ngValue]="location"
          >{{ location }}</option>
        </select>
      </div>

      <div class="dashboard__update--form-item">
        <span>Day</span>
        <select formControlName="dayControl">
          <option
            *ngFor="let day of days"
            [ngValue]="day"
          >{{ day }}</option>
        </select>
      </div>

      <div class="dashboard__update--form-item">
        <span>Start & end</span>
        <select formControlName="shiftStartControl">
          <option
            *ngFor="let shiftStart of shiftHours"
            [ngValue]="shiftStart"
          >{{ getFormattedHour(shiftStart).toLowerCase() }}</option>
        </select>
        <select formControlName="shiftEndControl">
          <option
            *ngFor="let shiftEnd of shiftHours"
            [ngValue]="shiftEnd"
          >{{ getFormattedHour(shiftEnd).toLowerCase() }}</option>
        </select>
      </div>

      <button
        [disabled]="!updateShiftForm.valid"
        type="submit"
        class="dashboard__update--form-item btn-menu btn-green"
      >Update shift</button>

      <button
        (click)="onToggleUpdateShiftForm('close')"
        class="dashboard__update--form-item btn-menu"
      >×</button>
    </form>

  </div>

  <!--CREATE SCHEDULED FORM------------------------------------------------------------>

  <div
    *ngIf="createScheduledFormToggle"
    class="dashboard__create"
  >

    <form
      (submit)="onCreateScheduled()"
      [formGroup]="createScheduledForm"
      class="dashboard__create--form"
    >

      <div class="dashboard__create--form-item">
        <span>Employee</span>
        <select formControlName="employeeControl">
          <option
            *ngFor="let employee of employees"
            [ngValue]="employee?.id"
          >{{ employee?.lastName.toLowerCase() }}, {{ employee?.firstName.toLowerCase() }}</option>
        </select>
      </div>


      <button
        [disabled]="!createScheduledForm.valid"
        type="submit"
        class="dashboard__create--form-item btn-menu btn-green"
      >Create scheduled</button>

      <button
        (click)="onToggleCreateScheduledForm('close')"
        class="dashboard__create--form-item btn-menu"
      >×</button>
    </form>

  </div>

</div>

<!--EMPLOYEE DASHBOARD------------------------------------------------------------>
<!--EMPLOYEE DASHBOARD------------------------------------------------------------>

<div
  *ngIf="employeeIsAuth"
  class="dashboard"
>

  <!--EMPLOYEE GUIDE------------------------------------------------------------>

  <div class="dashboard__populate">
    <h3 id="scheduled">■ scheduled</h3> &nbsp; &nbsp;
    <h3 id="my-scheduled">■ my scheduled</h3> &nbsp; &nbsp;
    <h3 id="preferred">_ preferred</h3> &nbsp; &nbsp;
    <h3 id="vacation">□ vacation request</h3> &nbsp; &nbsp;
    <h3 id="vacation-approved">■ approved</h3> &nbsp; &nbsp;
    <h3 id="vacation-denied">■ denied</h3>
  </div>

  <!--EMPLOYEE OPTIONS MENU------------------------------------------------------------>

  <div
    *ngIf="employeeOptionsMenu"
    class="dashboard__options"
  >

    <div class="dashboard__options--details">

      <div
        [ngClass]="{ 'preferred': employeeOptions[0] }"
        class="dashboard__options--details-shift"
      >
        <h4
          *ngIf="!employeeOptions[0]"
          class="dashboard__options--details-shift-heading"
        >Shift</h4>
        <h4
          *ngIf="employeeOptions[0]"
          class="dashboard__options--details-shift-heading"
        >Preferred shift</h4>

        <div class="dashboard__options--details-shift-values">
          <span>{{ calendarItemDay | date:'shortDate' }}</span>
          <span>{{ daysInWords[calendarItem[0]?.day] }}</span>
          <span>{{ calendarItem[0]?.slot }}</span>
          <span>{{ getFormattedHour(calendarItem[0]?.shiftStart[0]) }}</span>
          <span>{{ getFormattedHour(calendarItem[0]?.shiftEnd[0]) }}</span>
          <span>{{ calendarItem[0]?.location }}</span>
        </div>
      </div>

      <div class="dashboard__options--details-scheduled">
        <h4 class="dashboard__options--details-scheduled-heading">Scheduled</h4>

        <div
          *ngIf="calendarItem[1]"
          class="dashboard__options--details-scheduled-values"
        >
          <span>{{ calendarItem[1]?.employee.lastName }}, {{ calendarItem[1]?.employee.firstName }}</span>
          <span>{{ calendarItem[1]?.employee.position }}</span>
          <span>{{ calendarItem[1]?.employee.status }}</span>
          <span>Seniority: {{ calendarItem[1]?.employee.seniority }}</span>
          <span>Hire date: {{ calendarItem[1]?.employee.hireDate | date:'shortDate' }}</span>
        </div>

        <div
          *ngIf="!calendarItem[1]"
          class="dashboard__options--details-scheduled-values"
        >
          <span>Not filled</span>
        </div>

      </div>

    </div>

    <div class="dashboard__options--btns">
      <button
        (click)="onToggleAddPreferredForm('open')"
        [ngClass]="{ 'active': addPreferredFormToggle }"
        class="dashboard__options--btns-item btn-menu btn-green"
      >Add to preferred</button>
      <button
        (click)="onEmployeeEmitter('deletePreferred')"
        class="dashboard__options--btns-item btn-menu btn-red"
      >Delete preferred</button>

      <button
        (click)="onEmployeeEmitter('requestVacation')"
        class="dashboard__options--btns-item btn-menu btn-green"
      >Request vacation</button>
      <button
        (click)="onEmployeeEmitter('deleteVacation')"
        class="dashboard__options--btns-item btn-menu btn-red"
      >Delete vacation</button>

      <button
        (click)="onToggleEmployeeOptionsMenu('close')"
        class="dashboard__options--btns-item btn-menu"
      >×</button>
    </div>

  </div>

  <!--ADD PREFERRED FORM------------------------------------------------------------>

  <div
    *ngIf="addPreferredFormToggle"
    class="dashboard__update"
  >

    <form
      (submit)="onAddPreferred()"
      [formGroup]="addPreferredForm"
      class="dashboard__update--form"
    >

      <div class="dashboard__update--form-item">
        <span>Rank</span>
        <select formControlName="rankControl">
          <option
            *ngFor="let rank of ranks"
            [ngValue]="rank"
          >{{ rank }}</option>
        </select>
      </div>

      <button
        [disabled]="!addPreferredForm.valid"
        type="submit"
        class="dashboard__update--form-item btn-menu btn-green"
      >Add to preferred</button>

      <button
        (click)="onToggleAddPreferredForm('close')"
        class="dashboard__update--form-item btn-menu"
      >×</button>
    </form>

  </div>

  <!--PLACEHOLDER------------------------------------------------------------>

  <div
    *ngIf="!schedulerOptionsMenu && !employeeOptionsMenu"
    class="placeholder"
  >
    Click on a shift box for more options<br>
    Click a date number for more detail on the day<br>
    Click w for more detail on the week<br>
  </div>

</div>
