<div
  *ngIf="schedulerIsAuth"
  class="scheduler"
>

  <!--MAIN DASHBOARD------------------------------------------------------------>

  <div>
    <h3>Auto populate</h3>

    <button (click)="onSchedulerEmitter('populateAllToScheduled')">Populate full-time</button>
    <button (click)="onSchedulerEmitter('populateSteadyExtra')">Populate steady extra</button>
    <button (click)="onSchedulerEmitter('deleteLastScheduled')">Delete last scheduled</button>

  </div>

  <!--SCHEDULER OPTIONS MENU------------------------------------------------------------>

  <div *ngIf="schedulerOptionsMenu">

    <div>

      <div>
        Shift details
        {{ calendarItem[0]?.day }}
        {{ calendarItem[0]?.slot }}
        {{ calendarItem[0]?.shiftStart }} {{ calendarItem[0]?.shiftEnd }}
        {{ calendarItem[0]?.location }}
      </div>

      <div *ngIf="calendarItem[1]">
        Scheduled details
        {{ calendarItem[1]?.date }}
        {{ calendarItem[1]?.employee.firstName }} {{ calendarItem[1]?.employee.lastName }}
        {{ calendarItem[1]?.employee.position }}
        {{ calendarItem[1]?.employee.status }}
        {{ calendarItem[1]?.employee.seniority }}
        {{ calendarItem[1]?.employee.hireDate }}
      </div>

    </div>

    <div>
      <button (click)="onToggleUpdateShiftForm('open')">Update shift</button>
      <button (click)="onSchedulerEmitter('deleteShift')">Delete shift</button>

      <button (click)="onToggleCreateScheduledForm('open')">Create scheduled</button>
      <button
        *ngIf="calendarItem[1]"
        (click)="onSchedulerEmitter('deleteScheduled')"
      >Delete scheduled</button>

      <button (click)="onToggleSchedulerOptionsMenu('close')">Close</button>
    </div>

  </div>

  <!--UPDATE SHIFT FORM------------------------------------------------------------>

  <div *ngIf="updateShiftFormToggle">

    <form
      (submit)="onUpdateShift()"
      [formGroup]="updateShiftForm"
    >

      <span>Position</span>
      <select formControlName="positionControl">
        <option
          *ngFor="let position of positions"
          [ngValue]="position"
        >{{ position }}</option>
      </select>

      <span>Slot</span>
      <select formControlName="slotControl">
        <option
          *ngFor="let slot of slots"
          [ngValue]="slot"
        >{{ slot }}</option>
      </select>

      <span>Location</span>
      <select formControlName="locationControl">
        <option
          *ngFor="let location of locations"
          [ngValue]="location"
        >{{ location }}</option>
      </select>

      <span>Day</span>
      <select formControlName="dayControl">
        <option
          *ngFor="let day of days"
          [ngValue]="day"
        >{{ day }}</option>
      </select>

      <span>Shift start and end</span>
      <select formControlName="shiftStartControl">
        <option
          *ngFor="let shiftStart of shiftHours"
          [ngValue]="shiftStart"
        >{{ shiftStart }}</option>
      </select>
      <select formControlName="shiftEndControl">
        <option
          *ngFor="let shiftEnd of shiftHours"
          [ngValue]="shiftEnd"
        >{{ shiftEnd }}</option>
      </select>

      <button
        [disabled]="!updateShiftForm.valid"
        type="submit"
      >Update shift</button>
    </form>

    <button (click)="onToggleUpdateShiftForm('close')">Close</button>

  </div>

  <!--CREATE SCHEDULED FORM------------------------------------------------------------>

  <div *ngIf="createScheduledFormToggle">

    <form
      (submit)="onCreateScheduled()"
      [formGroup]="createScheduledForm"
    >

      <span>Employee</span>
      <select formControlName="employeeControl">
        <option
          *ngFor="let employee of employees"
          [ngValue]="employee?.id"
        >{{ employee?.id }}</option>
      </select>

      <button
        [disabled]="!createScheduledForm.valid"
        type="submit"
      >Create scheduled</button>
    </form>

    <button (click)="onToggleCreateScheduledForm('close')">Close</button>

  </div>

</div>

<div
  *ngIf="employeeIsAuth"
  class="employee"
>

  <!--EMPLOYEE OPTIONS MENU------------------------------------------------------------>

  <div *ngIf="employeeOptionsMenu">

    <div>

      <div>
        Shift details
        {{ calendarItem[0]?.day }}
        {{ calendarItem[0]?.slot }}
        {{ calendarItem[0]?.shiftStart }} {{ calendarItem[0]?.shiftEnd }}
        {{ calendarItem[0]?.location }}
      </div>

      <div *ngIf="calendarItem[1]">
        Scheduled details
        {{ calendarItem[1]?.date }}
        {{ calendarItem[1]?.employee.firstName }} {{ calendarItem[1]?.employee.lastName }}
        {{ calendarItem[1]?.employee.position }}
        {{ calendarItem[1]?.employee.status }}
        {{ calendarItem[1]?.employee.seniority }}
        {{ calendarItem[1]?.employee.hireDate }}
      </div>

      <div *ngIf="employeeOptions[0]">
        My preferred details
        {{ employeeOptions[0].shift.day }}
        {{ employeeOptions[0].rank }}
        {{ employeeOptions[0].shift.slot }}
        {{ employeeOptions[0].shift.shiftStart }} {{ employeeOptions[0].shift.shiftEnd }}
        {{ employeeOptions[0].shift.location }}
      </div>

    </div>

    <div>
      <h3>Options</h3>

      <button (click)="onToggleAddPreferredForm('open')">Add to preferred</button>
      <button (click)="onEmployeeEmitter('deletePreferred')">Delete preferred</button>

      <button (click)="onEmployeeEmitter('requestVacation')">Request vacation</button>
      <button (click)="onEmployeeEmitter('deleteVacation')">Delete vacation</button>

      <button (click)="onToggleEmployeeOptionsMenu('close')">Close</button>
    </div>

  </div>

  <!--ADD PREFERRED FORM------------------------------------------------------------>

  <div *ngIf="addPreferredFormToggle">

    <form
      (submit)="onAddPreferred()"
      [formGroup]="addPreferredForm"
    >

      <span>Rank</span>
      <select formControlName="rankControl">
        <option
          *ngFor="let rank of ranks"
          [ngValue]="rank"
        >{{ rank }}</option>
      </select>

      <button
        [disabled]="!addPreferredForm.valid"
        type="submit"
      >Add to preferred</button>
    </form>

    <button (click)="onToggleAddPreferredForm('close')">Close</button>

  </div>

</div>
