<div class="options">

  <div>
    <h3>Shifts</h3>

    <div *ngFor="let shift of (shifts | async)">
      <button (click)="onSelectShift(shift)">Select</button>
      {{ shift?.position}}
      {{ shift?.slot }}
      {{ shift?.location }}
      {{ shift?.shiftStart[0] }}
      {{ days[shift?.day] }}
      {{ shift?.shiftEnd[0] }}
    </div>
  </div>

  <div>
    <h3>Weekly shifts</h3>

    <div *ngFor="let weeklyShift of (weeklyShifts | async)">
      <button (click)="onSelectWeeklyShift(weeklyShift)">Select</button>
      {{ weeklyShift?.name }}
      {{ weeklyShift?.position}}
      {{ weeklyShift?.slot }}
      {{ weeklyShift?.location }}
      {{ weeklyShift?.shiftDay1.shiftStart[0] }}
      {{ weeklyShift?.shiftDay2.shiftStart[0] }}
      {{ weeklyShift?.shiftDay3.shiftStart[0] }}
      {{ weeklyShift?.shiftDay4.shiftStart[0] }}
      {{ weeklyShift?.shiftDay5.shiftStart[0] }}
    </div>
  </div>

  <div>
    <h3>Employee</h3>

    <div *ngFor="let employee of (employees | async)">
      <button (click)="onSelectEmployee(employee)">Select</button>
      {{ employee?.lastName }}, {{ employee?.firstName }}
      {{ employee?.position }}
      {{ employee?.status }}
      {{ employee?.seniority }}
      {{ employee?.hireDate | date: 'MMM d y' }}
      {{ employee?.preferredShiftSlots }}
      {{ employee?.preferredDaysOff }}
    </div>
  </div>

</div>
