<div
  [ngClass]="{ 'vacation': isMyVacationDay('vacation'),
  'vacation-approved': isMyVacationDay('approved'),
  'vacation-denied': isMyVacationDay('denied') }"
  class="week-item"
>

  <div
    *ngFor="let shift of shiftsOfTheDay"
    (click)="onCalendarItemEmitter(shift); onEmployeeOptionsEmitter(shift);"
    class="week-item__main"
  >

    <div
      [ngClass]="{ 'scheduled': isScheduledShift(shift),
    'preferred': isMyPreferredShift(shift),
    'my-scheduled': isMyScheduled }"
      class="week-item__main--details"
    >
      <span class="week-item__main--details-shift">
        {{ shift?.location.toUpperCase() }}
        {{ getFormattedHour(shift?.shiftStart[0]) }}
      </span>

      <span
        *ngIf="isScheduledShift(shift)"
        class="week-item__main--details-employee"
      >
        {{ scheduled?.employee.lastName }},
        {{ scheduled?.employee.firstName }}
      </span>
    </div>

  </div>

</div>
