.container {
  overflow-y: auto;

  height: 80%;
}

.shift-block {
  display: inline-block;

  width: 8rem;
  margin: 0.1rem;

  background-color: white;
  border: solid darkgray 0.1rem;

  font-size: 0.8rem;
}

.scheduled {
  background-color: royalblue;
}

.preferred {
  border: solid darkblue 0.2rem;
}

.vacation {
  background-color: orange;
}
