<div
  [ngClass]="{ 'vacation': isMyVacationDay() }"
  class="container"
>

  <div
    *ngFor="let shift of shiftsOfTheDay;"
    (click)="onCalendarItemEmitter(shift); onEmployeeOptionsEmitter(shift);"
    [ngClass]="{ 'scheduled': isScheduledShift(shift),
    'preferred': isMyPreferredShift(shift) }"
    class="shift-block"
  >
    {{ shift?.shiftStart[0] }} {{ shift?.shiftEnd[0] }}
    {{ shift?.location }}

    <div *ngIf="isScheduledShift(shift)">
      {{ scheduled?.employee.firstName }}
      {{ scheduled?.employee.lastName }}
    </div>
  </div>

</div>
