.week-item {
  padding: 0.2rem 0.5rem;

  &__main {
    height: 4.5rem;

    border-bottom: solid var(--color-blue) 0.1rem;

    color: var(--color-dark);
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: var(--color-blue);

      color: white;
    }

    &--details {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;

      height: 4rem;

      font-size: var(--font-xsmall);

      overflow: hidden;

      &-shift {
        grid-row: 1 / 2;

        font-weight: 700;
      }

      &-employee {
        grid-row: 2 / -1;
      }
    }
  }
}

.scheduled {
  background-color: var(--color-yellow);

  color: var(--color-dark);
}

.my-scheduled {
  background-color: var(--color-lightblue) !important;

  color: white !important;
}

.preferred {
  border-bottom: solid white 0.2rem;
}

.vacation {
  background-color: var(--color-green);
}
