<div>

  <h2>Create schedule</h2>

  <form
    (submit)="onCreateScheduled()"
    [formGroup]="createScheduledForm"
  >

    <span>Shift</span>
    <input
      formControlName="shiftControl"
      type="text"
    >

    <span>Employee</span>
    <input
      (click)="onSelectFormForEmployee('scheduled')"
      formControlName="employeeControl"
      type="text"
    >

    <span>Date</span>
    <input
      formControlName="dateControl"
      type="date"
    >

    <button
      [disabled]="!createScheduledForm.valid"
      type="submit"
    >Create scheduled</button>
  </form>

  <h2>Create weekly schedule</h2>

  <form
    (submit)="onCreateWeeklyScheduled()"
    [formGroup]="createWeeklyScheduledForm"
  >

    <span>Weekly shift</span>
    <input
      formControlName="weeklyShiftControl"
      type="text"
    >

    <span>Employee</span>
    <input
      (click)="onSelectFormForEmployee('weeklyScheduled')"
      formControlName="employeeControl"
      type="text"
    >

    <span>Start date</span>
    <input
      formControlName="startDateControl"
      type="date"
    >

    <button
      [disabled]="!createWeeklyScheduledForm.valid"
      type="submit"
    >Create weekly scheduled</button>
  </form>

  <app-editor-scheduled-item
    [employees]="employees$"
    [shifts]="shifts$"
    [weeklyShifts]="weeklyShifts$"
    [days]="days"
    (editorScheduledEmitter)="onEditorScheduledControl($event)"
  ></app-editor-scheduled-item>

</div>
