<div>

  <h2>Create schedule</h2>

  <form
    (submit)="onCreateScheduled()"
    [formGroup]="createScheduledForm"
  >

    <span>Shift</span>
    <input
      formControlName="shiftControl"
      type="text"
    >

    <span>Employee</span>
    <input
      (click)="onSelectFormForEmployee('scheduled')"
      formControlName="employeeControl"
      type="text"
    >

    <span>Date</span>
    <input
      formControlName="dateControl"
      type="date"
    >

    <button
      [disabled]="!createScheduledForm.valid"
      type="submit"
    >Create scheduled</button>
  </form>

  <h2>Create weekly schedule</h2>

  <form
    (submit)="onCreateWeeklyScheduled()"
    [formGroup]="createWeeklyScheduledForm"
  >

    <span>Weekly shift</span>
    <input
      formControlName="weeklyShiftControl"
      type="text"
    >

    <span>Employee</span>
    <input
      (click)="onSelectFormForEmployee('weeklyScheduled')"
      formControlName="employeeControl"
      type="text"
    >

    <span>Start date</span>
    <input
      formControlName="startDateControl"
      type="date"
    >

    <button
      [disabled]="!createWeeklyScheduledForm.valid"
      type="submit"
    >Create weekly scheduled</button>
  </form>

  <div class="options">

    <div>
      <h3>Shifts</h3>

      <div
        *ngFor="let shift of (shifts$ | async)"
        (click)="onSelectShift(shift)"
      >
        <!-- {{ shift?.position}}
  {{ shift?.slot }}
  {{ shift?.location }} -->
        {{ shift?.shiftStart[0] }}
        {{ days[shift?.day] }}
        <!-- {{ shift?.shiftEnd[0] }} -->
        <span>{{ shift?.id }}</span>
      </div>
    </div>

    <div>
      <h3>Weekly shifts</h3>

      <div
        *ngFor="let weeklyShift of (weeklyShifts$ | async)"
        (click)="onSelectWeeklyShift(weeklyShift)"
      >
        {{ weeklyShift?.name }}
        {{ weeklyShift?.position}}
        {{ weeklyShift?.slot }}
        {{ weeklyShift?.location }}
        {{ weeklyShift?.shiftDay1.shiftStart[0] }}
        {{ weeklyShift?.shiftDay2.shiftStart[0] }}
        {{ weeklyShift?.shiftDay3.shiftStart[0] }}
        {{ weeklyShift?.shiftDay4.shiftStart[0] }}
        {{ weeklyShift?.shiftDay5.shiftStart[0] }}
        {{ weeklyShift?.id }}
      </div>
    </div>

    <div>
      <h3>Employee</h3>

      <div
        *ngFor="let employee of (employees$ | async)"
        (click)="onSelectEmployee(employee)"
      >
        {{ employee?.lastName }}, {{ employee?.firstName }}
        {{ employee?.id }}
        <!-- {{ employee?.position }}
  {{ employee?.status }}
  {{ employee?.seniority }}
  {{ employee?.hireDate | date: 'MMM d y' }}
  {{ employee?.preferredShiftSlots }}
  {{ employee?.preferredDaysOff }} -->
      </div>
    </div>

  </div>

</div>
