<div class="editor-scheduled">

  <h1 class="editor-scheduled__title">Schedule editor</h1>

  <div class="editor-scheduled__weekly">

    <h2 class="editor-scheduled__weekly--heading">Create weekly scheduled</h2>

    <form
      (submit)="onCreateWeeklyScheduled()"
      [formGroup]="createWeeklyScheduledForm"
      class="editor-scheduled__weekly--form"
    >

      <div class="editor-scheduled__weekly--form-row">

        <h4>Weekly shift</h4>
        <input
          formControlName="weeklyShiftControl"
          type="text"
        >

        <h4>Employee</h4>
        <input
          (click)="onSelectFormForEmployee('weeklyScheduled')"
          formControlName="employeeControl"
          type="text"
        >

        <h4>Start date</h4>
        <input
          formControlName="startDateControl"
          type="date"
        >

      </div>

      <button
        [disabled]="!createWeeklyScheduledForm.valid"
        type="submit"
        class="editor-scheduled__weekly--form-submit btn-form"
      >Create weekly scheduled</button>

    </form>

  </div>

  <div class="editor-scheduled__individual">

    <h2 class="editor-scheduled__individual--heading">Create scheduled</h2>


    <form
      (submit)="onCreateScheduled()"
      [formGroup]="createScheduledForm"
      class="editor-scheduled__individual--form"
    >

      <div class="editor-scheduled__individual--form-row">
        <h4>Shift</h4>
        <input
          formControlName="shiftControl"
          type="text"
        >

        <h4>Employee</h4>
        <input
          (click)="onSelectFormForEmployee('scheduled')"
          formControlName="employeeControl"
          type="text"
        >

        <h4>Date</h4>
        <input
          formControlName="dateControl"
          type="date"
        >

      </div>

      <button
        [disabled]="!createScheduledForm.valid"
        type="submit"
        class="editor-scheduled__individual--form-submit btn-form"
      >Create scheduled</button>

    </form>

  </div>

  <app-editor-scheduled-item
    [employees]="employees$"
    [shifts]="shifts$"
    [weeklyShifts]="weeklyShifts$"
    [weeklyScheduled]="weeklyScheduled$"
    [days]="days"
    (editorScheduledEmitter)="onEditorScheduledControl($event)"
  ></app-editor-scheduled-item>

</div>
