.week {
  padding: 0.5rem 2rem;

  background-color: var(--color-darkgray);

  @media only screen and (max-width: 47em) {
    //760W
    margin-top: 6rem;
  }

  @media only screen and (max-width: 34em) {
    //550W
    padding: 0.2rem 0rem;
  }

  @media only screen and (max-width: 26em) {
    //425W
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.8rem;

    padding: 0.5rem 0rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    height: 4rem;
    padding-bottom: 0.5rem;

    @media only screen and (max-width: 26em) {
      //425W
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      gap: 0rem;

      height: 8rem;
    }

    &--btn {
      @media only screen and (max-width: 26em) {
        //425W
        &-backward {
          grid-column: 1 / 2;
        }

        &-forward {
          grid-column: 3 / 4;
        }

        &-w {
          grid-column: 1 / 3;
          grid-row: 2 / 3 !important;
        }

        &-d {
          grid-column: 2 / 4;
          grid-row: 2 / 3 !important;
        }
      }

      &-backward:hover,
      &-forward:hover {
        color: var(--color-yellow);
      }
    }

    &--month {
      @media only screen and (max-width: 26em) {
        //425W
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      width: 22rem;

      font-weight: 800;
      text-align: center;

      cursor: pointer;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    gap: 0.6rem;

    @media only screen and (max-width: 26em) {
      //425W
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      grid-template-columns: auto;
      grid-template-rows: repeat(7, 1fr);
      gap: 0.6rem;
    }

    &--days {
      width: 100%;

      @media only screen and (max-width: 26em) {
        //425W
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: min-content auto;
      }

      &-heading {
        width: 100%;
        margin-bottom: 0.8rem;

        background-color: var(--color-dark);

        color: var(--color-gray);
        font-size: var(--font-xsmall);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @media only screen and (max-width: 26em) {
          //425W
          grid-column: 1 / 2;
          grid-row: auto;

          width: auto;

          writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }

      &-info {
        background-color: var(--color-gray);

        @media only screen and (max-width: 26em) {
          //425W
          grid-column: 2 / 3;
          grid-row: auto;

          width: 96vw;
        }

        h3 {
          padding: 0rem 0.5rem;

          border-bottom: solid var(--color-blue) 0.2rem;

          color: var(--color-darkblue);
          font-weight: 700;
          text-align: right;

          cursor: pointer;

          &:hover {
            background-color: var(--color-dark);

            color: var(--color-yellow);
          }
        }
      }
    }
  }
}

.today {
  background-color: var(--color-white);
}

.placeholder {
  height: 18rem;

  background-color: var(--color-gray);

  color: var(--color-darkblue);
  font-size: var(--font-xsmall);
  font-weight: 600;
  line-height: 18rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}