<app-dashboard
  *ngIf="employeeIsAuth || schedulerIsAuth"
  [employeeIsAuth]="employeeIsAuth"
  [schedulerIsAuth]="schedulerIsAuth"
  [calendarItemObs]="calendarItemSubject.asObservable()"
  [employeeOptionsObs]="employeeOptionsSubject.asObservable()"
  (employeeEmitter)="onEmployeeServiceControl($event)"
  (schedulerEmitter)="onSchedulerServiceControl($event)"
  (formSubmitEmitter)="onFormSubmitEmitter($event)"
></app-dashboard>

<div class="week">

  <div class="week__nav">

    <button
      (click)="onCurrentWeek()"
      class="week__nav--btn btn-nav"
    >Current week</button>

    <button
      (click)="onPreviousWeek()"
      class="week__nav--btn"
    >◄</button>

    <h2
      [routerLink]="['/calendar', date.toISOString()]"
      class="week__nav--month"
    >
      {{ date?.format('MMMM') }} {{ date?.format('YYYY') }}
    </h2>

    <button
      (click)="onNextWeek()"
      class="week__nav--btn"
    >►</button>

    <button
      [routerLink]="['/day', today.toISOString()]"
      class="week__nav--btn btn-nav"
    >Current day</button>

  </div>

  <div class="week__main">

    <div
      *ngFor="let day of daysArr"
      class="week__main--days"
    >

      <div class="week__main--days-heading">{{ day?.format('ddd').toUpperCase() }}</div>

      <div
        [ngClass]="{ 'today': isToday(day) }"
        class="week__main--days-info"
      >

        <h3 [routerLink]="['/day', day.toISOString()]">{{ day?.date() }}</h3>

        <app-week-item
          *ngIf="isLoaded"
          [employeeId]="employeeId"
          [allShifts]="allShifts"
          [allScheduled]="allScheduled"
          [allMyPreferred]="allMyPreferred"
          [allMyVacations]="allMyVacations"
          [day]="day"
          (employeeOptionsEmitter)="onEmployeeOptionsEmitControl($event)"
          (calendarItemEmitter)="onCalendarItemEmitControl($event)"
        ></app-week-item>

        <h2
          *ngIf="!isLoaded"
          class="loading"
        >
          ...
        </h2>
      </div>

    </div>

  </div>

</div>
