.week {
  padding: 0.5rem 2rem;

  background-color: var(--color-darkgray);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    height: 4rem;
    padding-bottom: 0.5rem;

    &--btn {
      &:hover {
        color: var(--color-yellow);
      }
    }

    &--month {
      width: 22rem;

      font-weight: 800;
      text-align: center;

      cursor: pointer;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    gap: 0.6rem;

    &--days {
      width: 100%;

      &-heading {
        width: 100%;
        margin-bottom: 0.8rem;

        background-color: var(--color-dark);

        color: var(--color-gray);
        font-size: var(--font-xsmall);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }

      &-info {
        background-color: var(--color-gray);

        h3 {
          padding: 0rem 0.5rem;

          border-bottom: solid var(--color-blue) 0.2rem;

          color: var(--color-darkblue);
          font-weight: 700;
          text-align: right;

          cursor: pointer;

          &:hover {
            background-color: var(--color-dark);

            color: var(--color-yellow);
          }
        }
      }
    }
  }
}

.today {
  background-color: white;
}