.week {
  padding: 0.5rem 2rem;

  background-color: var(--color-darkgray);

  @media only screen and (max-width: 47em) {
    //760W
    margin-top: 6rem;
  }
  
  @media only screen and (max-width: 34em) {
    //550W
    padding: 0.2rem 0rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    height: 4rem;
    padding-bottom: 0.5rem;

    &--btn {
      &:hover {
        color: var(--color-yellow);
      }
    }

    &--month {
      width: 22rem;

      font-weight: 800;
      text-align: center;

      cursor: pointer;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    gap: 0.6rem;

    &--days {
      width: 100%;

      &-heading {
        width: 100%;
        margin-bottom: 0.8rem;

        background-color: var(--color-dark);

        color: var(--color-gray);
        font-size: var(--font-xsmall);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }

      &-info {
        background-color: var(--color-gray);

        h3 {
          padding: 0rem 0.5rem;

          border-bottom: solid var(--color-blue) 0.2rem;

          color: var(--color-darkblue);
          font-weight: 700;
          text-align: right;

          cursor: pointer;

          &:hover {
            background-color: var(--color-dark);

            color: var(--color-yellow);
          }
        }
      }
    }
  }
}

.today {
  background-color: var(--color-white);
}

.placeholder {
  height: 18rem;

  background-color: var(--color-gray);

  color: var(--color-darkblue);
  font-size: var(--font-xsmall);
  font-weight: 600;
  line-height: 18rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.populating {
  position: fixed;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  display: grid;
  align-items: center;
  justify-items: center;

  width: 30rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;

  background-color: var(--color-yellow);

  color: var(--color-dark);
  font-size: var(--font-xsmall);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
