<div class="employee-register">

  <h1 class="employee-register__title">Employee</h1>

  <form
    (submit)="onRegister(registerForm)"
    #registerForm="ngForm"
    *ngIf="!isLoaded"
    class="employee-register__form"
  >

    <div class="employee-register__form--name">
      <h4>First name</h4>
      <input
        required
        ngModel
        name="firstName"
        #firstNameInput="ngModel"
        [ngClass]="{ 'valid': firstNameInput.valid && firstNameInput.dirty,
        'invalid': firstNameInput.invalid && firstNameInput.dirty }"
      >

      <h4>Last name</h4>
      <input
        required
        ngModel
        name="lastName"
        #lastNameInput="ngModel"
        [ngClass]="{ 'valid': lastNameInput.valid && lastNameInput.dirty,
        'invalid': lastNameInput.invalid && lastNameInput.dirty }"
      >
    </div>

    <div class="employee-register__form--auth">
      <h4>Email</h4>
      <input
        type="email"
        email
        required
        ngModel
        name="email"
        #emailInput="ngModel"
        [ngClass]="{ 'valid': emailInput.valid && emailInput.dirty,
        'invalid': emailInput.invalid && emailInput.dirty }"
      >

      <h4>Password</h4>
      <input
        type="password"
        password
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
        [ngClass]="{ 'valid': passwordInput.valid && passwordInput.dirty,
        'invalid': passwordInput.invalid && passwordInput.dirty }"
      >

      <h4>Password confirm</h4>
      <input
        type="password"
        password
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
        [ngClass]="{ 'valid': passwordConfirmInput.valid && passwordConfirmInput.dirty,
        'invalid': passwordConfirmInput.invalid && passwordConfirmInput.dirty }"
      >
    </div>

    <button
      [disabled]="!registerForm.valid"
      class="employee-register__form--submit btn-auth"
    >Register</button>

  </form>

  <h3
    *ngIf="isLoaded"
    class="employee-register__loading"
  >Registering...</h3>

</div>
