<div class="employee-register">

  <h1 class="employee-register__title">Employee</h1>

  <form
    (submit)="onRegister(registerForm)"
    #registerForm="ngForm"
    *ngIf="!isLoaded"
    class="employee-register__form"
  >

    <div class="employee-register__form--name">
      <h4>First name</h4>
      <input
        required
        ngModel
        name="firstName"
        #nameInput="ngModel"
      >

      <h4>Last name</h4>
      <input
        required
        ngModel
        name="lastName"
        #nameInput="ngModel"
      >
    </div>

    <div class="employee-register__form--auth">
      <h4>Email</h4>
      <input
        type="email"
        required
        ngModel
        name="email"
        #emailInput="ngModel"
      >

      <h4>Password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
      >

      <h4>Password confirm</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
      >
    </div>

    <button
      [disabled]="!registerForm.valid"
      class="employee-register__form--submit btn-auth"
    >Register</button>

  </form>

  <h3
    *ngIf="isLoaded"
    class="employee-register__loading"
  >Registering...</h3>

</div>
