.employee-register {
  display: grid;
  align-content: center;
  justify-content: center;

  width: fit-content;
  margin: auto;
  margin-top: 4rem;
  padding: 5rem 8rem;

  background-color: var(--color-blue);

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    align-self: flex-start;

    color: var(--color-white);
  }

  &__form {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    align-content: center;
    gap: 1rem;

    @media only screen and (max-width: 75em) {
      //1200W
      justify-self: flex-end;
    }

    &--name {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;

      @media only screen and (max-width: 75em) {
        //1200W
        display: grid;
        justify-content: flex-end;
        justify-items: flex-end;
      }
    }

    &--auth {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;

      @media only screen and (max-width: 75em) {
        //1200W
        display: grid;
        justify-content: flex-end;
        justify-items: flex-end;
      }
    }

    h4 {
      border-right: solid var(--color-white) 0.15rem;
      padding-right: 0.5rem;
      margin-right: 0.5rem;

      color: var(--color-white);
      text-align: right;
      white-space: nowrap;
    }

    input {
      margin-left: 0.1rem;
      padding: 0.4rem 0.8rem;

      background-color: var(--color-white);

      color: var(--color-darkblue);
      font-size: var(--font-xsmall);
    }

    &--forgot {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      justify-self: flex-end;
    }

    &--submit {
      grid-row: 3 / 4;
      justify-self: flex-end;
    }
  }
}
