<div class="shifts">

  <h1 class="shifts__title">Shifts</h1>

  <div class="shifts__weekly">

    <h2 class="shifts__weekly--heading">Weekly shifts</h2>

    <div class="shifts__weekly--keys">
      <span>Name</span>
      <span>Position</span>
      <span>Slot</span>
      <span>Location</span>
      <span>Day 1</span>
      <span>Day 2</span>
      <span>Day 3</span>
      <span>Day 4</span>
      <span>Day 5</span>
    </div>

    <div
      *ngFor="let weeklyShift of (weeklyShifts$ | async)"
      class="shifts__weekly--values"
    >
      <span class="shifts__weekly--values-name">{{ weeklyShift?.name }}</span>
      <span>{{ weeklyShift?.position }}</span>
      <span>{{ weeklyShift?.slot }}</span>
      <span>{{ weeklyShift?.location }}</span>
      <span>{{ getFormattedLocation(weeklyShift?.shiftDay1.location) }}
        {{ getFormattedHour(weeklyShift?.shiftDay1.shiftStart[0]) }}</span>
      <span>{{ getFormattedLocation(weeklyShift?.shiftDay2.location) }}
        {{ getFormattedHour(weeklyShift?.shiftDay2.shiftStart[0]) }}</span>
      <span>{{ getFormattedLocation(weeklyShift?.shiftDay3.location) }}
        {{ getFormattedHour(weeklyShift?.shiftDay3.shiftStart[0]) }}</span>
      <span>{{ getFormattedLocation(weeklyShift?.shiftDay4.location) }}
        {{ getFormattedHour(weeklyShift?.shiftDay4.shiftStart[0]) }}</span>
      <span>{{ getFormattedLocation(weeklyShift?.shiftDay5.location) }}
        {{ getFormattedHour(weeklyShift?.shiftDay5.shiftStart[0]) }}</span>
    </div>

  </div>

  <div class="shifts__individual">

    <div class="shifts__individual--section rotunda">
      <h2 class="shifts__individual--section-heading">Rotunda barista</h2>

      <div class="shifts__individual--section-keys">
        <span>Slot</span>
        <span>Day</span>
        <span>Shift start</span>
        <span>Shift end</span>
      </div>

      <div class="scroll-container">
        <div
          *ngFor="let shift of (shiftsRT$ | async)"
          class="shifts__individual--section-values"
        >
          <span>{{ shift?.slot }}</span>
          <span>{{ days[shift?.day] }}</span>
          <span>{{ getFormattedHour(shift?.shiftStart[0]) }}</span>
          <span>{{ getFormattedHour(shift?.shiftEnd[0]) }}</span>
        </div>
      </div>
    </div>


    <div class="shifts__individual--section food-court">
      <h2 class="shifts__individual--section-heading">Food court barista</h2>

      <div class="shifts__individual--section-keys">
        <span>Slot</span>
        <span>Day</span>
        <span>Shift start</span>
        <span>Shift end</span>
      </div>

      <div class="scroll-container">
        <div
          *ngFor="let shift of (shiftsFC$ | async)"
          class="shifts__individual--section-values"
        >
          <span>{{ shift?.slot }}</span>
          <span>{{ days[shift?.day] }}</span>
          <span>{{ getFormattedHour(shift?.shiftStart[0]) }}</span>
          <span>{{ getFormattedHour(shift?.shiftEnd[0]) }}</span>
        </div>
      </div>
    </div>

    <div class="shifts__individual--section etc">
      <h2 class="shifts__individual--section-heading etc__location">Others</h2>

      <div class="shifts__individual--section-keys etc__keys">
        <span>Location</span>
        <span>Position</span>
        <span>Slot</span>
        <span>Day</span>
        <span>Shift start</span>
        <span>Shift end</span>
      </div>

      <div class="scroll-container">
        <div
          *ngFor="let shift of (shiftsEtc$ | async)"
          class="shifts__individual--section-values etc__values"
        >
          <span>{{ shift?.location }}</span>
          <span>{{ shift?.position }}</span>
          <span>{{ shift?.slot }}</span>
          <span>{{ days[shift?.day] }}</span>
          <span>{{ getFormattedHour(shift?.shiftStart[0]) }}</span>
          <span>{{ getFormattedHour(shift?.shiftEnd[0]) }}</span>
        </div>
      </div>
    </div>

  </div>

</div>
