<div class="scheduler">

  <h1 class="scheduler__title">Profile</h1>

  <form
    (submit)="onUpdateScheduler()"
    [formGroup]="updateSchedulerForm"
    class="scheduler__form"
  >

    <div class="scheduler__form--item">
      <h4>Name</h4>
      <span>{{ scheduler?.firstName }} {{ scheduler?.lastName }}</span>

      <h4>Email</h4>
      <input
        type="email"
        formControlName="email"
        placeholder="{{ scheduler?.email }}"
        [ngClass]="{ 'valid': updateSchedulerForm.controls['email'].valid && updateSchedulerForm.controls['email'].dirty,
      'invalid': updateSchedulerForm.controls['email'].invalid && updateSchedulerForm.controls['email'].dirty }"
      >
    </div>

    <button
      [disabled]="!updateSchedulerForm.valid"
      type="submit"
      class="scheduler__form--submit btn-auth"
    >Update email</button>
  </form>

  <form
    (submit)="onChangePassword(changePasswordForm)"
    #changePasswordForm="ngForm"
    class="scheduler__form"
  >

    <div class="scheduler__form--item">
      <h4>Current password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordCurrent"
        #passwordCurrentInput="ngModel"
        [ngClass]="{ 'valid': passwordCurrentInput.valid && passwordCurrentInput.dirty,
      'invalid': passwordCurrentInput.invalid && passwordCurrentInput.dirty }"
      >

      <h4>New password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
        [ngClass]="{ 'valid': passwordInput.valid && passwordInput.dirty,
      'invalid': passwordInput.invalid && passwordInput.dirty }"
      >

      <h4>New password confirm</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
        [ngClass]="{ 'valid': passwordConfirmInput.valid && passwordConfirmInput.dirty,
      'invalid': passwordConfirmInput.invalid && passwordConfirmInput.dirty }"
      >
    </div>

    <button
      [disabled]="!changePasswordForm.valid"
      class="scheduler__form--submit btn-auth"
    >Update Password</button>

  </form>

</div>
