<div class="scheduler">

  <h1 class="scheduler__title">Profile</h1>

  <form
    (submit)="onUpdateScheduler()"
    [formGroup]="updateSchedulerForm"
    class="scheduler__form"
  >

    <div class="scheduler__form--item">
      <h4>Name</h4>
      <span>{{ scheduler?.firstName }} {{ scheduler?.lastName }}</span>

      <h4>Email</h4>
      <input
        type="email"
        formControlName="email"
        placeholder="{{ scheduler?.email }}"
      >
    </div>

    <button
      [disabled]="!updateSchedulerForm.valid"
      type="submit"
      class="scheduler__form--submit btn-auth"
    >Update email</button>
  </form>

  <form
    (submit)="onChangePassword(changePasswordForm)"
    #changePasswordForm="ngForm"
    class="scheduler__form"
  >

    <div class="scheduler__form--item">
      <h4>Current password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordCurrent"
        #passwordCurrentInput="ngModel"
      >

      <h4>New password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
      >

      <h4>New password confirm</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
      >
    </div>

    <button
      [disabled]="!changePasswordForm.valid"
      class="scheduler__form--submit btn-auth"
    >Update Password</button>

  </form>

</div>
