<app-dashboard
  *ngIf="employeeIsAuth || schedulerIsAuth"
  [employeeIsAuth]="employeeIsAuth"
  [schedulerIsAuth]="schedulerIsAuth"
  [calendarItemObs]="calendarItemSubject.asObservable()"
  (schedulerEmitter)="onSchedulerServiceControl($event)"
></app-dashboard>

<div class="calendar">

  <div class="calendar__nav">

    <button (click)="onCurrentDay()">Current day</button>

    <button
      (click)="onPreviousDay()"
      class="calendar__nav--btn"
    >◄</button>

    <h3 class="calendar__nav--week">
      {{ day?.format('MMMM') }} {{ day?.format('YYYY') }}
    </h3>

    <button
      (click)="onNextDay()"
      class="calendar__nav--btn"
    >►</button>

  </div>

  <div class="calendar__main">

    <div class="calendar__main--heading">{{ day?.format('ddd').toUpperCase() }}</div>

    <div
      [ngClass]="{ 'today': isToday(day) }"
      class="calendar__main--info"
    >

      <h4>{{ day?.date() }}</h4>

      <app-day-item
        *ngIf="isLoaded"
        [allShifts]="allShifts"
        [allScheduled]="allScheduled"
        [day]="day"
        (calendarItemEmitter)="onCalendarItemEmitControl($event)"
      ></app-day-item>

    </div>

  </div>

</div>
