<app-dashboard
  *ngIf="employeeIsAuth || schedulerIsAuth"
  [employeeIsAuth]="employeeIsAuth"
  [schedulerIsAuth]="schedulerIsAuth"
  [calendarItemObs]="calendarItemSubject.asObservable()"
  [employeeOptionsObs]="employeeOptionsSubject.asObservable()"
  (employeeEmitter)="onEmployeeServiceControl($event)"
  (schedulerEmitter)="onSchedulerServiceControl($event)"
  (formSubmitEmitter)="onFormSubmitEmitter($event)"
></app-dashboard>

<div class="day">

  <div class="day__nav">

    <button
      (click)="onCurrentDay()"
      class="day__nav--btn btn-nav"
    >Current day</button>

    <button
      (click)="onPreviousDay()"
      class="day__nav--btn"
    >◄</button>

    <h2
      [routerLink]="['/calendar', day.toISOString()]"
      class="day__nav--month"
    >
      {{ day?.format('MMMM') }} {{ day?.format('YYYY') }}
    </h2>

    <button
      (click)="onNextDay()"
      class="day__nav--btn"
    >►</button>

    <button
      [routerLink]="['/week', today.toISOString()]"
      class="day__nav--btn btn-nav"
    >Current week</button>

  </div>

  <div class="day__main">

    <div class="day__main--heading">{{ day?.format('ddd').toUpperCase() }}</div>

    <div
      [ngClass]="{ 'today': isToday(day) }"
      class="day__main--info"
    >

      <h3 class="day__main--info-heading">
        <a
          [routerLink]="['/week', day.toISOString()]"
          class="day__main--info-heading-w"
        >w</a>
        <a
          [routerLink]="['/day', day.toISOString()]"
          class="day__main--info-heading-number"
        >{{ day?.date() }}</a>
      </h3>

      <app-day-item
        *ngIf="isLoaded"
        [employeeId]="employeeId"
        [allShifts]="allShifts"
        [allScheduled]="allScheduled"
        [allMyPreferred]="allMyPreferred"
        [allMyVacations]="allMyVacations"
        [day]="day"
        (employeeOptionsEmitter)="onEmployeeOptionsEmitControl($event)"
        (calendarItemEmitter)="onCalendarItemEmitControl($event)"
      ></app-day-item>

      <h2
        *ngIf="!isLoaded"
        class="loading"
      >
        ...
      </h2>
    </div>

  </div>

</div>
