<app-dashboard
  [employeeIsAuth]="employeeIsAuth"
  [schedulerIsAuth]="schedulerIsAuth"
  (schedulerEmitter)="schedulerControl($event)"
></app-dashboard>

<div class="calendar">

  <div class="calendar__nav">

    <button (click)="currentDay()">Current day</button>

    <button
      (click)="previousDay()"
      class="calendar__nav--btn"
    >◄</button>

    <h3 class="calendar__nav--week">
      {{ day.format('MMMM') }} {{ day.format('YYYY') }}
    </h3>

    <button
      (click)="nextDay()"
      class="calendar__nav--btn"
    >►</button>

  </div>

  <div class="calendar__main">

    <div class="calendar__main--heading">{{ day?.format('ddd').toUpperCase() }}</div>

    <div
      [ngClass]="{ 'today': isToday(day) }"
      class="calendar__main--info"
    >

      <h4>{{ day?.date() }}</h4>

      <app-day-item
        *ngIf="isLoaded"
        [allShifts]="allShifts"
        [allScheduled]="allScheduled"
        [day]="day"
      ></app-day-item>

    </div>

  </div>

</div>
