<app-dashboard
  *ngIf="employeeIsAuth || schedulerIsAuth"
  [employeeIsAuth]="employeeIsAuth"
  [schedulerIsAuth]="schedulerIsAuth"
  [editShiftObs]="editShiftSubject.asObservable()"
  (schedulerEmitter)="schedulerServiceControl($event)"
></app-dashboard>

<div class="calendar">

  <div class="calendar__nav">

    <button (click)="currentMonth()">Current month</button>

    <button
      (click)="previousMonth()"
      class="calendar__nav--btn"
    >◄</button>

    <h3 class="calendar__nav--month">
      {{ date?.format('MMMM') }} {{ date?.format('YYYY') }}
    </h3>

    <button
      (click)="nextMonth()"
      class="calendar__nav--btn"
    >►</button>

    <button routerLink="/week">Current week</button>

  </div>

  <div class="calendar__heading">

    <div class="calendar__heading--days">SUN</div>
    <div class="calendar__heading--days">MON</div>
    <div class="calendar__heading--days">TUE</div>
    <div class="calendar__heading--days">WED</div>
    <div class="calendar__heading--days">THU</div>
    <div class="calendar__heading--days">FRI</div>
    <div class="calendar__heading--days">SAT</div>

  </div>

  <div class="calendar__main">

    <div
      *ngFor="let day of daysArr"
      [ngClass]="{ 'inactive': isNotThisMonth(day), 'today': isToday(day) }"
      class="calendar__main--days"
    >

      <h4>{{ day?.date() }}</h4>

      <app-calendar-item
        *ngIf="isLoaded"
        [allShifts]="allShifts"
        [allScheduled]="allScheduled"
        [day]="day"
        (editShiftEmitter)="editShiftEmitControl($event)"
      ></app-calendar-item>

    </div>

  </div>

</div>
