.calendar {
  border: solid darkgray 0.5rem;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 3rem;

    padding-bottom: 0.5rem;

    &--month {
      width: 10rem;

      text-align: center;
    }
  }

  &__heading {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.4rem;

    padding-bottom: 0.4rem;

    background-color: darkgray;

    &--days {
      grid-row: 1 / 2;
      z-index: 1000;

      width: 100%;

      background-color: gray;

      color: white;
      text-align: center;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0.4rem;

    background-color: darkgray;

    &--days {
      height: 8rem;
      width: 100%;

      background-color: lightgray;
      border: solid white 0.1rem;
    }
  }
}

.today {
  background-color: white;
}

.inactive {
  background-color: darkgray;
}

hr {
  height: 1rem;
}
