<div class="employee">

  <h1 class="employee__title">Profile</h1>

  <form
    (submit)="onUpdateEmployee()"
    [formGroup]="updateEmployeeForm"
    class="employee__form"
  >

    <div class="employee__form--item">
      <h4>Name</h4>
      <span>{{ employee?.firstName }} {{ employee?.lastName }}</span>

      <h4>Email</h4>
      <input
        type="email"
        formControlName="email"
        placeholder="{{ employee?.email }}"
        [ngClass]="{ 'valid': updateEmployeeForm.controls['email'].valid && updateEmployeeForm.controls['email'].dirty,
        'invalid': updateEmployeeForm.controls['email'].invalid && updateEmployeeForm.controls['email'].dirty }"
      >
    </div>

    <div class="employee__form--item">
      <h4>Position</h4><span>{{ employee?.position }}</span>
      <h4>Status</h4><span>{{ employee?.status }}</span>
      <h4>Seniority</h4><span>{{ employee?.seniority }}</span>
      <h4>Hire date</h4><span>{{ employee?.hireDate | date: 'shortDate' }}</span>
    </div>

    <div class="employee__form--item">
      <h4>Preferred Shift Slots</h4>
      <select formControlName="preferredShiftSlots1">
        <option
          *ngFor="let shiftSlot of shiftSlots"
          [ngValue]="shiftSlot"
        >{{ shiftSlot }}</option>
      </select>
      <select formControlName="preferredShiftSlots2">
        <option
          *ngFor="let shiftSlot of shiftSlots"
          [ngValue]="shiftSlot"
        >{{ shiftSlot }}</option>
      </select>
      <select formControlName="preferredShiftSlots3">
        <option
          *ngFor="let shiftSlot of shiftSlots"
          [ngValue]="shiftSlot"
        >{{ shiftSlot }}</option>
      </select>

      <h4>Preferred Days Off</h4>
      <select formControlName="preferredDaysOff1">
        <option
          *ngFor="let dayOff of daysOff"
          [ngValue]="dayOff"
        >{{ dayOff }}</option>
      </select>
      <select formControlName="preferredDaysOff2">
        <option
          *ngFor="let dayOff of daysOff"
          [ngValue]="dayOff"
        >{{ dayOff }}</option>
      </select>
    </div>

    <button
      [disabled]="!updateEmployeeForm.valid"
      type="submit"
      class="employee__form--submit btn-auth"
    >Update info</button>
  </form>

  <form
    (submit)="onChangePassword(changePasswordForm)"
    #changePasswordForm="ngForm"
    class="employee__form"
  >

    <div class="employee__form--item">
      <h4>Current password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordCurrent"
        #passwordCurrentInput="ngModel"
        [ngClass]="{ 'valid': passwordCurrentInput.valid && passwordCurrentInput.dirty,
      'invalid': passwordCurrentInput.invalid && passwordCurrentInput.dirty }"
      >

      <h4>New password</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="password"
        #passwordInput="ngModel"
        [ngClass]="{ 'valid': passwordInput.valid && passwordInput.dirty,
      'invalid': passwordInput.invalid && passwordInput.dirty }"
      >

      <h4>New password confirm</h4>
      <input
        type="password"
        required
        minlength="8"
        ngModel
        name="passwordConfirm"
        #passwordConfirmInput="ngModel"
        [ngClass]="{ 'valid': passwordConfirmInput.valid && passwordConfirmInput.dirty,
      'invalid': passwordConfirmInput.invalid && passwordConfirmInput.dirty }"
      >
    </div>

    <button
      [disabled]="!changePasswordForm.valid"
      class="employee__form--submit btn-auth"
    >Update Password</button>

  </form>

</div>
