.employee {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;

  padding: 5rem 8rem;

  background-color: var(--color-blue);

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    align-self: flex-start;

    color: var(--color-var(--color-white));
  }

  &__form {
    grid-column: 1 / -1;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-top: 1rem;

    //BY WIDTHS - MAX (PRIORITY)
    @media only screen and (max-width: 86em) {
      //1366W
      justify-self: flex-end;
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      margin-bottom: 1rem;

      //BY WIDTHS - MAX (PRIORITY)
      @media only screen and (max-width: 86em) {
        //1366W
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
        justify-items: flex-end;
      }

      h4 {
        border-right: solid var(--color-white) 0.15rem;
        padding-right: 0.5rem;
        margin-right: 0.5rem;

        color: var(--color-white);
        text-align: right;
        white-space: nowrap;

        //BY WIDTHS - MAX (PRIORITY)
        @media only screen and (max-width: 86em) {
          //1366W
          grid-column: 1 / 2;
        }
      }

      span {
        margin-left: 0.1rem;
        padding: 0.4rem 0.8rem;

        background-color: var(--color-dark);

        font-size: var(--font-small);
        font-weight: 700;
        text-transform: uppercase;

        //BY WIDTHS - MAX (PRIORITY)
        @media only screen and (max-width: 86em) {
          //1366W
          grid-column: 2 / 3;
          justify-self: flex-start;
        }
      }

      input,
      select {
        margin-left: 0.1rem;
        padding: 0.4rem 0.8rem;

        background-color: var(--color-white);

        color: var(--color-darkblue);
        font-size: var(--font-xsmall);

        //BY WIDTHS - MAX (PRIORITY)
        @media only screen and (max-width: 86em) {
          //1366W
          grid-column: 2 / 3;
          justify-self: flex-start;
        }
      }
    }

    &--submit {
      justify-self: flex-end;

      margin-left: 1rem;

      white-space: nowrap;

      //BY WIDTHS - MAX (PRIORITY)
      @media only screen and (max-width: 86em) {
        //1366W
        justify-self: center;
      }
    }
  }
}
