<div
  [ngClass]="{ 'vacation': isMyVacationDay('vacation'),
  'vacation-approved': isMyVacationDay('approved'),
  'vacation-denied': isMyVacationDay('denied') }"
  class="calendar-item"
>

  <div
    *ngFor="let shift of shiftsOfTheDay"
    (click)="onCalendarItemEmitter(shift); onEmployeeOptionsEmitter(shift);"
    class="calendar-item__main"
  >

    <div
      [ngClass]="{ 'scheduled': isScheduledShift(shift),
      'preferred': isMyPreferredShift(shift),
      'my-scheduled': isMyScheduled }"
      class="calendar-item__main--details"
    >
      <span>{{ getFormattedLocation(shift?.location) }}
        {{ getFormattedHour(shift?.shiftStart[0]) }}</span>
    </div>

  </div>

</div>
