.calendar-item {
  height: 70%;
  overflow-y: auto;

  padding: 0.1rem 0.4rem;

  &__main {
    display: inline-block;

    width: 5rem;
    padding: 0.1rem;
    margin-bottom: 0.2rem;

    border-right: solid var(--color-blue) 0.2rem;

    color: var(--color-dark);
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: var(--color-blue);

      color: white;
    }

    &--details {
      font-weight: 700;
    }
  }
}

.scheduled {
  background-color: var(--color-yellow);

  color: var(--color-dark);
}

.my-scheduled {
  background-color: var(--color-green) !important;

  color: white !important;
}

.preferred {
  border-bottom: solid var(--color-green) 0.2rem;
}

.vacation {
  background-color: var(--color-green);
}
