.calendar-item {
  height: 70%;
  padding: 0.1rem 0.4rem;

  text-align: center;

  overflow-y: auto;

  @media only screen and (max-width: 34em) {
    //550W
    span {
      font-size: var(--font-xsmall) !important;
    }
  }

  &__main {
    display: inline-block;

    width: 5rem;
    padding: 0.1rem;
    margin-bottom: 0.2rem;

    border-right: solid var(--color-blue) 0.2rem;

    color: var(--color-dark);
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: var(--color-blue);

      color: var(--color-white);
    }

    &--details {
      font-weight: 700;
    }
  }
}

.scheduled {
  background-color: var(--color-yellow);

  color: var(--color-dark);
}

.my-scheduled {
  background-color: var(--color-lightblue) !important;

  color: var(--color-white) !important;
}

.preferred {
  border-bottom: solid var(--color-white) 0.2rem;
}

.vacation {
  border: solid var(--color-green) 0.4rem;
}

.vacation-approved {
  background-color: var(--color-green);
}

.vacation-denied {
  background-color: var(--color-red);
}
