.editor-vacations {
  display: grid;
  gap: 1rem;

  margin-top: 2rem;
  padding: 2rem;

  background-color: var(--color-darkgray);

  @media only screen and (max-width: 34em) {
    //550W
    padding: 2rem 0rem;

    span {
      font-size: var(--font-xsmall) !important;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    height: 4rem;
    padding-left: 1rem;

    background-color: var(--color-black);

    color: var(--color-gray);
  }

  &__dashboard {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-items: center;

    height: 10rem;
    padding: 0.5rem 6rem;

    background-color: var(--color-blue);

    &--details {
      grid-row: 1 / 2;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      overflow-x: auto;

      &-heading {
        border-right: solid var(--color-white) 0.15rem;
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        text-align: right;
      }

      &-values {
        color: var(--color-darkblue);
        font-size: var(--font-xsmall);
        text-transform: uppercase;

        overflow-x: auto;

        span {
          background-color: var(--color-gray);

          margin-left: 0.1rem;
          padding: 0.4rem 0.8rem;

          white-space: nowrap;
        }
      }
    }

    &--btns {
      grid-row: 2 / -1;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    height: 4rem;
    padding-bottom: 0.5rem;

    @media only screen and (max-width: 34em) {
      //550W
      gap: 2rem;
    }

    &--info {
      padding: 0.4rem 0.8rem;

      background-color: var(--color-blue);

      font-size: var(--font-xsmall);
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;

      overflow-x: auto;

      span {
        font-weight: 800;
      }
    }

    &--btn {
      &:hover {
        color: var(--color-yellow);
      }
    }

    &--month {
      width: 22rem;

      font-weight: 800;
      text-align: center;
    }
  }

  &__heading {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.8rem;

    &--days {
      grid-row: 1 / 2;

      width: 100%;

      background-color: var(--color-dark);

      color: var(--color-gray);
      font-size: var(--font-xsmall);
      font-weight: 700;
      text-align: center;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0.8rem;

    &--days {
      height: 10rem;
      width: 100%;

      background-color: var(--color-gray);

      @media only screen and (max-width: 34em) {
        //550W
        height: 18rem;
      }

      &-heading {
        padding: 0rem 0.5rem;

        border-bottom: solid var(--color-blue) 0.2rem;

        color: var(--color-darkblue);
        font-weight: 700;
        text-align: right;
      }
    }
  }
}

.today {
  background-color: var(--color-white);
}

.inactive {
  background-color: var(--color-darkgray);
}

.placeholder {
  height: 10rem;

  background-color: var(--color-gray);

  color: var(--color-darkblue);
  font-size: var(--font-xsmall);
  font-weight: 600;
  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
}
