<div class="container">

  <div
    *ngFor="let vacation of (vacations | async)"
    [ngStyle]="getDayStyle(vacation)"
  >
    <button (click)="onAproveVacation(vacation)">Approve</button>
    <button (click)="onDenyVacation(vacation)">Deny</button>
    {{ vacation?.date | date:'fullDate' }}
    {{ vacation?.employee.firstName }}
    {{ vacation?.approved }}
    <span *ngIf="vacation.scheduler">{{ vacation?.scheduler.firstName }}</span>
  </div>

  <div
    *ngFor="let vacation of (vacations | async)"
    [ngStyle]="getDayStyle(vacation)"
  >
    <button (click)="onAproveVacation(vacation)">Approve</button>
    <button (click)="onDenyVacation(vacation)">Deny</button>
    {{ vacation?.date | date:'fullDate' }}
    {{ vacation?.employee.firstName }}
    {{ vacation?.approved }}
    <span *ngIf="vacation.scheduler">{{ vacation?.scheduler.firstName }}</span>
  </div>

</div>
