.editor-vacations-item {
  &__vacation {
    display: inline-block;

    width: 100%;
    padding: 0.1rem;
    margin-bottom: 0.2rem;

    border-right: solid var(--color-blue) 0.2rem;

    color: var(--color-dark);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    overflow-y: auto;
    cursor: pointer;

    @media only screen and (max-width: 34em) {
      //550W
      span {
        font-size: var(--font-xsmall);
      }
    }

    &:hover {
      background-color: var(--color-blue);

      color: var(--color-white);
    }
  }

  &__placeholder {
    display: inline-block;

    width: 100%;

    color: var(--color-dark);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    overflow-x: auto;
  }
}
